.green{
    background-color: green;
    color: white;
}
.red{
    background-color: red;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.gray{
    background-color: gray;
    color: white;
}